<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons>
      <ion-back-button class="botaoVoltar" defaultHref="home"></ion-back-button>
      <div class="imgLogo">
        <img src="/assets/img/logo.png" alt="">
      </div>
    </ion-buttons>
    <div class="ion-text-center texto">
      <ion-text>Trocar Endereco</ion-text>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div *ngIf="usuario">
    <ion-card class="trocaEndereco">
      <ion-item lines='none'>
        <ion-input type="number" placeholder="CEP" [(ngModel)]="usuario.dadoEndereco.cep"></ion-input>
      </ion-item>
      <ion-item lines="none">
        <ion-input type="text" placeholder="Endereço" [(ngModel)]="usuario.dadoEndereco.endereco"></ion-input>
      </ion-item>
      <ion-item lines="none">
        <ion-input type="number" placeholder="Numero" [(ngModel)]="usuario.dadoEndereco.numero"></ion-input>
      </ion-item>
      <ion-item lines="none">
        <ion-textarea placeholder="Complemento" [(ngModel)]="usuario.dadoEndereco.complemento"></ion-textarea>
      </ion-item>
      <ion-button class="botaoConfirma" expand="block" (click)="atualizarEndereco()">Confirmar Endereço</ion-button>
    </ion-card>
  </div>
</ion-content>
