.botaoVoltar {
  position: absolute;
  font-size: 20px;
}

.imgLogo {
  width: 100px;
  margin-left: 35%;
  margin-right: auto;
  margin-top: 5px;
  margin-bottom: 5px;
}

.botaoCarrinho {
  width: auto;
  height: auto;

  ion-icon {
    font-size: 50px;
  }
}

.texto {
  font-size: 20pt;
  font-weight: bold;
  padding-bottom: 10px;
}

h1 {
  color: var(--ion-color-primary);
  font-weight: bold;
  text-align: center;
  margin-bottom: 20px;
}

ion-item {
  ion-row {
    margin-bottom: 3px;
    margin-top: 3px;
  }

  .imagemProduto {
    margin-right: 10px;

    ion-card {
      height: 83px;
      width: 83px;
      background-color: greenyellow;

      img {
        height: 70px;
        width: auto;
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-top: 5px;
        margin-bottom: 5px;
      }
    }
  }

  .nomeProduto {
    color: var(--ion-color-primary);
    font-size: 13pt;
    font-weight: bold;
    margin: 0px;
  }

  .descricaoProduto {
    color: var(--ion-color-primary);
    font-size: 10pt;
    margin: 0px;
  }

  .valorProduto {
    height: 20px;

    p {
      color: var(--ion-color-primary);
      font-weight: bold;
      margin-top: 0px;
    }
  }

  .botaoFavorito {
    width: 64px;
    margin-bottom: 0px;
  }

  .botaoVer {
    width: 64px;
    margin-bottom: 0px;
  }
}
